.pageHeader{
    font-size: 2rem;
    text-align: center;
    min-height: 10vh;
    padding: 1rem;
    display: grid;
    place-content: center;
}

.gameMain{
    /* background-color: var(--dark); */
    background-image: url('./ben-neale-zpxKdH_xNSI-unsplash.jpg');
    background-size: cover;
    background-position: 10rem 25rem;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & ul {
        list-style-type: none;
        border: 4px double #379daf5e;
        width: 80%;
        height: 100vh;
        margin: auto;
        
    }

}

.gameListsSection{
    border-top: 1px solid gray;
    background-color: #0E0E11;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;

    & h2 {
        text-align: center;
        padding: 1rem 0;
    }
}

.gameArticle{

    max-width: 100%;
    background-color: #18181a;
    border: 4px double #379daf5e;
    
    & p {
        /* text-decoration: underline; */
        color: #16A5BE;
        padding: 1rem;
    }

    & h1 {
        background-color: #0E0E11;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    & a {
        /* color: #16A5BE !important; */
    }
}

.recommended {
    
    border: 4px double #e7472b56;
    max-height: 90vh;
    padding: 1rem;

    & .gameArticle{
        border: 4px double #e7472b56;
    }
    
    & .banner{
        box-sizing: border-box;
        width: 100%;
        height: 20vh;
        background: radial-gradient(rgb(8, 3, 3), rgba(4, 4, 10, 0.452));
    }
}
