.gameMain{
    /* background-color: var(--dark); */
    background-image: url('./boris-langvand-XJs1pH6wftw-unsplash.jpg');
    background-size: contain;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    & ul {
     
        border: 4px double #16A5BE;
        height: 100vh;
        
    }

    & > section{
        border: 1px solid rgba(255, 255, 255, 0.144);
        /* padding: 1rem; */

    }
}

.gameListsSection{
    border: 1px double white;
    background: radial-gradient(rgba(0, 0, 0, 0.863), rgb(26, 24, 24));
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;

    & h2 {
        text-align: center;
        padding: 1rem 0;
    }
}

.gameArticle{

    max-width: 100%;
    background-color: #18181a;
    border: 4px double #16A5BE;
    
    & p {
        /* text-decoration: underline; */
        color: #16A5BE;
        padding: 1rem;
    }

    & h1 {
        background-color: #0E0E11;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    & a {
        /* color: #16A5BE !important; */
    }
}

.recommended {
    
    border: 4px double #E7472B;
    max-height: 90vh;

    & .gameArticle{
        border: 4px double #E7472B;
    }
    
    & .banner{
        box-sizing: border-box;
        width: 100%;
        height: 20vh;
        background: radial-gradient(rgb(36, 36, 36), rgb(7, 6, 8));
    }
}
