.signForm{
    border: 1px solid white;
    background-color: #101013;
    color: rgb(236, 231, 231);
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 1rem;
    gap: .5rem;
    margin: auto;

    & input{
        background-color: #0a0a0a;
        color: white;
        height: 1.5rem;
        border: 1px solid white;
        border-radius: .2rem;
        padding: .2rem;
    }
}