.block{
  box-sizing: border-box;
  width: 100vw;
  height: 11vh;
}


main{
  background-color: var(--dark);
  color: var(--light);
  & section{
    min-width: 100vw;
  }

  & .hero{
    background-image: url('./photo-1579567761406-4684ee0c75b6.avif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -20rem;
    height: 45rem;
    min-width: 100vw;
    background-color: rgb(10, 10, 10);
    border-bottom: 1px solid rgb(252, 243, 243);
    box-shadow: 1px 1px 1px rgba(70, 33, 236, 0.753),
                 1px 1px 1px rgba(236, 33, 43, 0.952);
    
    display: grid;
    align-content: end;
    & >.bottom{
      text-align: left;
      width: 100vw;
      height: 10vh;
      margin: auto;
      padding: 4rem 3rem;
      background: linear-gradient(rgba(12, 10, 10, 0.027), rgba(7, 2, 12, 0.589),rgb(13, 10, 31));
      z-index: 10;
    }
  }
}


.title{
  cursor: pointer;
  color: rgb(248, 247, 245);
  text-shadow:  -1px -1px 0 rgb(199, 196, 211),
                3px -3px 0 rgb(22, 165, 190),
                -1px 3px 0 rgb(231, 71, 43),
                1px 1px 0 rgb(131, 61, 40);
}

.activeBox {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(15, 92, 122);
  cursor: pointer;
}

@keyframes tweakColor {
  from{
    box-shadow: 1px 2px 10px rgba(28, 210, 255, 0.815),
    1px 8px 10px #ffffff09;

  } to {
    box-shadow: 1px 2px 10px rgba(230, 70, 91, 0.815),
    1px 8px 10px #ffffff09;
  }
}

@keyframes colorSwapBlue {
  from {
      border-color: rgb(0, 225, 255);
      box-shadow: 0px 4px 15px rgba(0, 225, 255, 0.247);
  }
  to {
      border-color: rgb(0, 225, 255);
      color: white;
      box-shadow: 0px 4px 15px rgb(0, 225, 255);
  }
}

@keyframes colorSwapRed {
  from {
      border-color: rgb(255, 0, 0);
      box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.247);
  }
  to {
      border-color: rgb(255, 0, 0);
      color: white;
      box-shadow: 0px 4px 15px rgb(255, 0, 0);
  }
}

/* APLICAR APÓS SCROLL */
& .addShadow{
  animation: tweakColor 5s ease-in-out 0s infinite alternate;
}

.open{
  display: inline !important;
}


.hr-blue{
  border: none;
  border-bottom: .2rem dotted #4798ca;
  width: 50%;
  margin: auto;
}

.admin{
  color: yellow;
  font-weight: 600;
}

.newsdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: radial-gradient(rgb(26, 25, 25), black);

  & > div {
    width: 70%;
    margin: 5rem auto;
  }

  & p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 2.5rem 0;
    text-align: justify;
  }
  
}

.div-placeholder{
  background-color: rgb(32, 32, 32);
  box-sizing: border-box;
  border-radius: .2rem;
  min-width: 10rem;
  min-height: 10rem;
  display: grid;

  & > p {
    font-size: 2rem;
    width: 80%;
    margin: auto;
  }
}

output{
  color: rgb(238, 85, 85);
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
}