

main{
  background-color: var(--dark);
  color: var(--light);
  min-height: 100vh;
}

.hero{
  background-image: url('public/brendan-miranda-OwTA4466nSI-unsplash.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -20rem;
  height: 35rem;
  min-width: 100vw;
  background-color: rgb(10, 10, 10);
  border-bottom: 1px solid rgb(252, 243, 243);
  box-shadow: 1px 1px 1px rgba(70, 33, 236, 0.753),
               1px 1px 1px rgba(236, 33, 43, 0.952);
  
  display: grid;
  align-content: end;
  & >div{
    text-align: left;
    width: 100vw;
    height: 10vh;
    margin: auto;
    padding: 4rem 3rem;
    background: linear-gradient(rgba(12, 10, 10, 0.027), rgba(7, 2, 12, 0.589),rgb(13, 10, 31));

  }
}

.title{
  color: rgb(248, 247, 245);
  text-shadow:  -1px -1px 0 rgb(199, 196, 211),
                3px -3px 0 rgb(22, 165, 190),
                -1px 3px 0 rgb(231, 71, 43),
                1px 1px 0 rgb(131, 61, 40);
}
