:root{
  --bg-color: #232323;
  --txt-color: #D5D7D9;

  --dark: #080808;
  --light: #D5D7D9;

  font-size: 1.2em;
  font-family: 'Inter', 'Montserrat', 'System-ui', 'Ubuntu', sans-serif;

}

@media screen and (prefers-color-scheme: light) {
  :root{
    --bg-color: #D5D7D9;
    --txt-color:  #232323;
  }
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg-color);
  color: var(--txt-color);
  overflow-x: hidden;
}

a, a:active, a:visited{
  color: white;
  text-decoration: none;
}

.big-txt{
  font-size: 3.5em;
}

#root{
  position: absolute;
}